<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{'label.stockmanagement.physicalInventory.addProducts' | message}}
        </h4>
      </div>

      <div class="modal-body">
        <form>
          <fieldset>
            <label for="productSelect">{{'label.product' | message}}</label>
            <select id="productSelect" class="form-control" ng-model="vm.selectedItem"
                    ng-options="item.orderable.fullProductName for item in vm.items" required>
            </select>
          </fieldset>
        </form>

        <button ng-click="vm.addOneProduct()">{{'button.add' | message}}</button>

        <section class="openlmis-table-container">
          <table>
            <thead>
            <tr>
              <th>{{'label.productCode' | message}}</th>
              <th>{{'label.product' | message}}</th>
              <th class="col-sticky">{{'label.stockmanagement.currentStock' | message}}</th>
              <th>{{'label.actions' | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.addedItems">
              <td>{{item.orderable.productCode}}</td>
              <td>{{item.orderable.fullProductName + ' ' +
                item.orderable.dispensable.dispensingUnit}}
              </td>
              <td popover="{{item.quantityMissingError}}"
                  class="soh-cell">
                <input positive-integer
                       ng-model="item.quantity"
                       class="form-control"
                       ng-change="vm.validate(item)"
                       ng-blur="vm.validate(item)"/>
              </td>
              <td>
                <input type="button" class="danger"
                       ng-click="vm.removeAddedProduct(item)"
                       value="{{'button.remove' | message}}">
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      </div>

      <div class="modal-footer">
        <button ng-click="vm.cancel()">{{'button.cancel' | message}}</button>
        <button ng-click="vm.confirm()" class="primary">
          {{'button.addProducts' | message: {'num': vm.addedItems.length} }}
        </button>
      </div>

    </div>
  </div>
</div>
