.soh-cell {
  &.has-popover {
    padding-right: 2em !important;
    > .show-popover {
      @include icon-only("exclamation-circle");
      position: absolute;
      top: 0px;
      right: 0px;
      width: 2em;
      height: 100%;
      color: $brand-danger;
    }
  }
}