<h2 ng-show="vm.title">
  {{'stockCardSummaries.title' |
  message:{'facilityName': vm.title.facility, 'program': vm.title.program} }}
</h2>
<h2 ng-hide="vm.title">{{'stockCardSummaries.stockOnHand' | message}}</h2>

<div ng-if="vm.error" class="alert is-error" ng-show="vm.error">{{vm.error}}</div>

<section class="openlmis-table-container">
  <form ng-submit="vm.search()">
    <fieldset class="form-group">
      <legend>{{'stockCardSummaries.facilityType' | message}}</legend>
      <label class="radio">
        <input type="radio" ng-model="vm.isSupervised" ng-value="false"
               ng-change="vm.updateFacilityType()"
               ng-disabled="!vm.homeFacility"/>
        {{'stockCardSummaries.myFacility' | message}}
      </label>
      <label class="radio">
        <input type="radio" ng-model="vm.isSupervised" ng-value="true"
               ng-change="vm.updateFacilityType()"
               ng-disabled="!vm.hasSupervisedProgram"/>
        {{'stockCardSummaries.supervisedFacility' | message}}
      </label>
    </fieldset>

    <fieldset ng-hide="vm.isSupervised">
      <label for="facilityName">{{'stockCardSummaries.facilityName' | message}}</label>
      <select id="facilityName" ng-model="vm.selectedFacility"
              ng-options="facility as facility.name for facility in vm.facilities"
              placeholder="{{'stockCardSummaries.selectFacility' | message}}" required>
      </select>
      <label for="programListMyFacility">{{'stockCardSummaries.programName' | message}}</label>
      <select id="programListMyFacility" ng-model="vm.selectedProgram"
              ng-options="program as program.name for program in vm.programs"
              placeholder="{{'stockCardSummaries.selectProgram' | message}}" required>
      </select>
    </fieldset>

    <fieldset ng-show="vm.isSupervised">
      <label for="programListSupervisedFacility">{{'stockCardSummaries.programName' |
        message}}</label>
      <select id="programListSupervisedFacility" ng-model="vm.selectedProgram"
              ng-options="program as program.name for program in vm.programs"
              ng-change="vm.loadFacilitiesForProgram()"
              placeholder="{{'stockCardSummaries.selectProgram' | message}}" required>
      </select>
      <label for="supervisedFacilityName">
        {{'stockCardSummaries.facilityName' | message}}
      </label>
      <select id="supervisedFacilityName" ng-model="vm.selectedFacility"
              ng-options="facility as facility.name for facility in vm.facilities | unique:'id'"
              placeholder="{{'stockCardSummaries.selectFacility' | message}}" required>
      </select>
    </fieldset>

    <fieldset>
      <label for="keyword">{{'stockCardSummaries.keyword' | message}}</label>
      <input id="keyword" type="text" ng-model="vm.keyword" maxlength="50"/>
    </fieldset>

    <input type="submit" value="{{'stockCardSummaries.search'|message}}"/>
  </form>

  <button class="primary" ng-click="vm.print()">{{'stockCardSummaries.print' | message}}</button>

  <table>
    <caption ng-if="!vm.stockCardSummaries.length">
      {{'stockCardSummaries.noProducts' | message}}
    </caption>
    <thead>
    <tr>
      <th>{{'stockCardSummaries.productCode' | message}}</th>
      <th>{{'stockCardSummaries.product' | message}}</th>
      <th ng-if="vm.hasLot">{{'stockCardSummaries.lotCode' | message}}</th>
      <th ng-if="vm.hasLot">{{'stockCardSummaries.expiryDate' | message}}</th>
      <th>{{'stockCardSummaries.lastUpdate' | message}}</th>
      <th>{{'stockCardSummaries.stockOnHand' | message}}</th>
      <th>{{'stockCardSummaries.actions' | message}}</th>
    </tr>
    </thead>
    <tbody ng-repeat="summaries in vm.pagedSummaries">
    <tr ng-if="summaries.length > 1">
      <td>{{summaries[0].orderable.productCode}}</td>
      <td>{{summaries[0].orderable.fullProductName}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">{{vm.calculateSOH(summaries)}}</td>
      <td></td>
    </tr>
    <tr ng-repeat="summary in summaries | orderBy:'lot?lot.lotCode:\'\''">
      <td>{{summaries.length > 1 ? '' : summary.orderable.productCode}}</td>
      <td>{{summaries.length > 1 ? '' : summary.orderable.fullProductName}}</td>
      <td ng-if="vm.hasLot">{{summary.lot ? summary.lot.lotCode : ('stockCardSummaries.noLot' | message) }}
      </td>
      <td ng-if="vm.hasLot">{{summary.lot.expirationDate | openlmisDate}}</td>
      <td>{{summary.lastUpdate | openlmisDate}}</td>
      <td align="right">{{summary.stockOnHand}}</td>
      <td>
        <button type="button" ng-click="vm.viewSingleCard(summary.id)" class="primary">
          {{'stockCardSummaries.view'| message}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <openlmis-pagination list="vm.stockCardSummaries" paged-list="vm.pagedSummaries"></openlmis-pagination>
</section>
