.soh-cell {
  &.has-popover {
    padding-right: 2em !important;
    > .show-popover {
      @include icon-only("exclamation-circle");
      position: absolute;
      top: 0;
      right: 0;
      width: 2em;
      height: 100%;
      color: $brand-danger;
    }
  }
}

input.error {
  border-color: $red !important;

  &:focus {
    box-shadow: inset 0 0 0.5em $red;
  }
}
