<h2 ng-show="vm.facility">{{'stockPhysicalInventory.title' | message: {'facility': vm.facility.name} }}</h2>

<section class="openlmis-table-container openlmis-physical-inventory">
  <table>
    <caption ng-if="!vm.drafts.length">{{'stockPhysicalInventory.noPhysicalInventoryFound' |
      message}}
    </caption>
    <thead>
    <tr>
      <th>{{'stockPhysicalInventory.program' | message}}</th>
      <th>{{'stockPhysicalInventory.status' | message}}</th>
      <th class="col-sticky sticky-right">{{'stockPhysicalInventory.actions' | message}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="draft in vm.drafts">
      <td>{{vm.getProgramName(draft.programId)}}</td>
      <td>{{vm.getDraftStatus(draft.isStarter)}}</td>
      <td>
        <input id="proceedButton" type="button" ng-click="vm.editDraft(draft)"
               value="{{(draft.isStarter ? 'stockPhysicalInventory.start' : 'stockPhysicalInventory.continue') | message}}"
               class="primary"/>
      </td>
    </tr>
    </tbody>
  </table>
</section>
