@media screen and (max-width: $res-sm){
  .openlmis-physical-inventory {
    th {
      width: 33%;
    }
    
    table td.ng-scope {
      text-align: center;
      
      input {
        padding: 8px;
      }
    }
  }
}
