version: "2"
services:
  stockmanagement-ui:
    image: openlmis/dev-ui:latest
    working_dir: /app
    volumes:
      - '.:/app'
    env_file: .env
    volumes_from:
      - auth-ui
      - referencedata-ui
      - ui-components
      - ui-layout
    depends_on:
      - auth-ui
      - referencedata-ui
      - ui-components
      - ui-layout
  auth-ui:
    image: openlmis/auth-ui:4.0.0
    volumes:
      - '/openlmis-auth-ui'
  referencedata-ui:
    image: openlmis/referencedata-ui:4.0.0
    volumes: 
      - '/openlmis-referencedata-ui'
  ui-components:
    image: openlmis/ui-components
    volumes:
      - '/openlmis-ui-components'
  ui-layout:
    image: openlmis/ui-layout:4.0.0
    volumes:
      - '/openlmis-ui-layout'
  image:
    build: .
    image: openlmis/stockmanagement-ui
