.custom-item-container {
  text-transform: uppercase;
  &.error {
    box-shadow: inset 0 0 0.5em #a94442;
    &::after {
      content: "\f06a";
      color: #a94442;
      font: normal normal normal 14px/1 FontAwesome;
      display: block;
      height: 1em;
      width: 1em;
      position: absolute;
      top: 50%;
      right: 0.5em;
      transform: translateY(-50%);
    }
  }
}
