<h2 ng-show="vm.facility">{{ 'stockUnpackKit.title' | message: {'facility': vm.facility.name} }}</h2>

<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.unpackKits.length">{{'stockUnpackKit.noKitAvailable' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'stockUnpackKit.kit' | message}}</th>
                <th>{{'stockUnpackKit.soh' | message}}</th>
                <th>{{'stockUnpackKit.action' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="kit in vm.unpackKits">
                <td>{{kit.fullProductName}}</td>
                <td align="right">{{kit.stockOnHand}}</td>
                <td>
                    <button ng-class="{'primary': kit.stockOnHand}" ng-disabled="!kit.stockOnHand" ng-click="vm.proceed(kit)">
                        {{'stockUnpackKit.proceed' | message}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
