<h2 ng-show="vm.facility">{{ vm.key('title') | message: {'facility': vm.facility.name} }}</h2>

<section class="openlmis-table-container">
  <table>
    <caption ng-if="!vm.programs.length">{{vm.key('noProgramAvailable') | message}}
    </caption>
    <thead>
    <tr>
      <th>{{vm.key('program') | message}}</th>
      <th>{{vm.key('action') | message}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="program in vm.programs">
      <td>{{program.name}}</td>
      <td>
        <input id="proceedButton" type="button" ng-click="vm.proceed(program)"
               value="{{vm.key('makeAdjustments') | message}}"
               class="primary"/>
      </td>
    </tr>
    </tbody>
  </table>
</section>
