section.reason-assignments {
  width: 100%;

  form {
    max-width: 100%;
    position: relative;

    button {
      position: absolute;
      top: 2em;
      right: 0.5em;
    }
  }

  p {
      margin-top: 0;
      margin-bottom: 0;
  }

  & > label {
      margin-top: 0.5em;
      margin-bottom: 0;
  }

}
