.physical-inventory-draft-progress {
  @include margin-left(0);
}

.reasons-cell {

  @include padding-right(0.5em);

    &:before {
        content: '' !important;
    }
}

.draft-indicator {
  display: block;
  @include float(right);
  margin-top: 1em;
}
