.physical-inventory-draft-progress {
  margin-left: 0;
}

input.let-code {
    text-transform: uppercase;
}

::placeholder {
  text-transform: none;
}

.reasons-cell {

  padding-right: 0.5em !important;

    &:before {
        content: '' !important;
    }
}

.stock-actions {
  width: 110px!important;
}

.stock-actions + .stock-actions {
  margin-top: 8px;
}