<h2>
    {{'stockPhysicalInventoryDraft.title' | message: {'facilityCode': vm.facility.code, 'facilityName': vm.facility.name, 'program': vm.program.name} }}
</h2>

<section class="openlmis-table-container">
    <form ng-submit="vm.search()" openlmis-table-filter>
        <fieldset class="form-group">
            <label for="searchFor">{{'stockPhysicalInventoryDraft.keyword' | message}}</label>
            <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
            <label for="stockCardStatus">{{'stockPhysicalInventoryDraft.status' | message}}</label>
            <select id="stockCardStatus" ng-model="vm.stockCardStatus"
                ng-options="status as vm.getStockCardStatusDisplay(status) for status in vm.stockCardStatuses">
            </select>
            <input type="submit" value="{{'stockPhysicalInventoryDraft.search' | message}}"/>
        </fieldset>
    </form>

    <openlmis-progressbar class="physical-inventory-draft-progress"
        value="vm.itemsWithQuantity.length" max="vm.displayLineItemsGroup.length"
        title="{{'stockPhysicalInventoryDraft.numberOfProductsComplete' | message: {'num': vm.itemsWithQuantity.length, 'total': vm.displayLineItemsGroup.length} }}">
    </openlmis-progressbar>

    <button class="pull-right add" ng-click="vm.addProducts()">
        {{'stockPhysicalInventoryDraft.addProduct' | message}}
    </button>

    <saving-indicator class="draft-indicator" object="vm.dataChanged"/>

    <table>
        <caption ng-if="!vm.displayLineItemsGroup.length && !vm.stateParams.keyword">
            {{'stockPhysicalInventoryDraft.noLineItems' | message}}
        </caption>
        <caption ng-if="!vm.displayLineItemsGroup.length && vm.stateParams.keyword">
            {{'stockPhysicalInventoryDraft.noSearchResults' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'stockPhysicalInventoryDraft.productCode' | message}}</th>
                <th>{{'stockPhysicalInventoryDraft.product' | message}}</th>
                <th ng-show="vm.hasLot">{{'stockPhysicalInventoryDraft.lotCode' | message}}</th>
                <th ng-show="vm.hasLot">{{'stockPhysicalInventoryDraft.expiryDate' | message}}</th>
                <th class="col-sticky sticky-right">{{'stockPhysicalInventoryDraft.soh' | message}}</th>
                <th class="col-sticky sticky-right">{{'stockPhysicalInventoryDraft.currentStock' | message}}</th>
                <th ng-if="vm.showVVMStatusColumn" class="col-sticky sticky-right">{{'stockPhysicalInventoryDraft.VVMStatus' | message}}</th>
                <th class="col-sticky sticky-right">{{'stockPhysicalInventoryDraft.reasons' | message}}</th>
                <th class="col-sticky sticky-right">{{'stockPhysicalInventoryDraft.unaccountedQuantity' | message}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="(category, groupedLineItems) in vm.groupedCategories"  tbody-title="{{category}}">
           <tr ng-if="lineItems.length > 1" ng-repeat-start="lineItems in groupedLineItems">
                <td>{{lineItems[0].orderable.productCode}}</td>
                <td>{{lineItems[0].orderable | productName}}</td>
                <td></td>
                <td></td>
                <td align="right">{{vm.calculate(lineItems, 'stockOnHand')}}</td>
                <td align="right">{{vm.calculate(lineItems, 'quantity')}}</td>
                <td ng-if="vm.showVVMStatusColumn"></td>
                <td align="right"></td>
                <td align="right"></td>
                <td align="right"></td>
            </tr>
            <tr ng-repeat="lineItem in lineItems | orderBy:'lot?lot.lotCode:\'\''" ng-repeat-end>
                <td>{{lineItems.length > 1 ? '' : lineItem.orderable.productCode}}</td>
                <td>{{lineItems.length > 1 ? '' : (lineItem.orderable | productName)}}</td>
                <td ng-show="vm.hasLot">{{lineItem.displayLotMessage}}</td>
                <td ng-show="vm.hasLot">{{lineItem.lot.expirationDate | openlmisDate}}</td>
                <td align="right">{{lineItem.stockOnHand}}</td>
                <td class="digit-cell" >
                    <input
                        class="form-control" ng-blur="vm.validateQuantity(lineItem)"
                        ng-change="vm.quantityChanged(lineItem)"
                        ng-model="lineItem.quantity"
                        openlmis-invalid="{{lineItem.quantityInvalid ? lineItem.quantityInvalid : ''}}"
                        positive-integer/>
                </td>
                <td ng-if="vm.showVVMStatusColumn" class="digit-cell">
                    <select ng-if="lineItem.orderable.extraData.useVVM == 'true'"
                        ng-model="lineItem.vvmStatus"
                        ng-options="status as vm.getStatusDisplay(status) for status in vm.vvmStatuses"
                        placeholder="{{'stockPhysicalInventoryDraft.selectStatus' | message}}"
                        ng-change="vm.cacheDraft()">
                    </select>
                </td>
                <td class="reasons-cell" >
                    <stock-reasons
                        ng-model="lineItem.stockAdjustments"
                        line-item="lineItem"
                        reasons="vm.reasons"
                        ng-change="vm.checkUnaccountedStockAdjustments(lineItem)"
                        />
                <td align="right">{{lineItem.unaccountedQuantity}}</td>
                </td>
                <td>
                    <button type="button" class="danger" ng-if="lineItem.stockOnHand === 0 && lineItem.active" ng-disabled="offlineService.isOffline()"
                    ng-click="vm.hideLineItem(lineItem)">{{'stockPhysicalInventoryDraft.hide' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination list="vm.displayLineItemsGroup" paged-list="vm.pagedLineItems" on-page-change="vm.saveOnPageChange"></openlmis-pagination>
</section>

<ng-include src="'stock-physical-inventory-draft/physical-inventory-draft-toolbar.html'"></ng-include>
