.add-products-button{
    margin-left: auto;
    @include button-icon('plus');
}

.add-items-button {
    @include button-icon('plus');
}

.trash-button {
    padding: 6px;
    padding-left: 11px;
    color: $gray;
    margin-right: auto;
    @include button-icon('trash');
}

.trash-button::before {
    align-content: center;
    text-align: center;
}

.add-product-form {
    flex-direction: row;
    padding-bottom: 20px;
}

.add-product-form > button:first-child {
    display: none;
}

.product-select {
    max-width: 280px;
    margin-right: 10px;
}

.lot-select {
    max-width: 200px;
    margin-right: 40px;
    select {
        width: 200px;
    }
}

.soh-input {
    max-width: 100px;
    input {
        max-width: 100px;
    }
}
