.notification-container {
    font-size: 18px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999;
    bottom: "0";
}

.notification {
    transition: .3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 30px;
    margin-bottom: 15px;
    width: 300px;
    max-height: 100px;
    opacity: .9;
    background-position: 15px;
    background-repeat: no-repeat;
}

.notification-title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 6px;
    width: 300px;
    height: 18px;
}

.notification-message {
    margin: 0;
    text-align: center;
    height: 18px;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toast {
    height: 50px;
    width: 328px;
    padding: 20px 15px 10px 10px;
    display: flex;
    justify-content: center;
}
