<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{'adminReasonFormModal.addReason' | message}}
        </h4>
      </div>
      <div class="modal-body">
        <form id="newReasonForm" name="vm.reasonForm" class="reason-form" ng-submit="vm.createReason()">
          <fieldset>
            <label for="name">{{'adminReasonFormModal.name' | message}}</label>
            <input id="name" name="reasonName" type="text"
                   ng-class="{'error': vm.isDuplicated}"
                   ng-model="vm.reason.name"
                   ng-change="vm.clearDuplicationError()"
                   ng-blur="vm.checkDuplication()" required/>
            <span class="error" ng-show="vm.isDuplicated">
              {{'adminReasonFormModal.reasonNameDuplicated' | message}}
            </span>
          </fieldset>

          <fieldset>
            <label for="category">{{'adminReasonFormModal.category' | message}}</label>
            <select id="category" ng-model="vm.reason.reasonCategory"
                    ng-options="category for category in vm.reasonCategories" required>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <legend>{{'adminReasonFormModal.type' | message}}</legend>
            <label class="radio text-capitalize" ng-repeat="type in vm.reasonTypes">
              <input type="radio" ng-model="vm.reason.reasonType" ng-value="type" required/>
              {{type | lowercase}}
            </label>
          </fieldset>

          <fieldset class="form-group">
            <legend>{{'adminReasonFormModal.freeText' | message}}</legend>
            <label class="checkbox">
              <input type="checkbox" ng-model="vm.reason.isFreeTextAllowed" ng-value="false"/>
              {{'adminReasonFormModal.allowFreeTextEntry' | message}}
            </label>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="$hide()">{{'adminReasonFormModal.cancel' | message}}</button>
        <button form="newReasonForm" type="submit" ng-disabled="vm.isSubmitting">
            {{'adminReasonFormModal.addReason' | message}}
        </button>
      </div>
    </div>
  </div>
</div>
