<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{'label.addReason' | message}}
        </h4>
      </div>
      <div class="modal-body">
        <form id="newReasonForm" class="reason-form" ng-submit="vm.createReason()">
          <label for="name">{{'label.name' | message}}</label>
          <input id="name" ng-model="vm.reason.name" type="text" required/>
          <label for="category">{{'label.category' | message}}</label>
          <input id="category" ng-model="vm.reason.reasonCategory" type="text" required/>
          <label for="type">{{'label.type' | message}}</label>
          <input id="type" ng-model="vm.reason.reasonType" type="text" required/>
          <fieldset class="form-group">
            <legend>{{'label.allowFreeText' | message}}</legend>
            <label class="radio">
              <input type="radio" ng-model="vm.reason.isFreeTextAllowed"
                     ng-value="true" required/>
              {{'label.yes' | message}}
            </label>
            <label class="radio">
              <input type="radio" ng-model="vm.reason.isFreeTextAllowed"
                     ng-value="false" required/>
              {{'label.no' | message}}
            </label>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="$hide()">{{'button.cancel' | message}}</button>
        <input form="newReasonForm" type="submit"
               value="{{'button.addReason' | message}}"/>
      </div>
    </div>
  </div>
</div>
