<h2>
  {{'stockAdjustmentCreation.title' |
  message:{'facilityCode': vm.facility.code, 'facilityName': vm.facility.name, 'program': vm.program.name} }}
</h2>

<div class="stock-adjustment-creation">
  <section class="openlmis-table-container">
    <form ng-submit="vm.search()">
      <fieldset>
        <label for="search">{{'stockAdjustmentCreation.keyword' | message}}</label>
        <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
      </fieldset>

      <input type="submit" value="{{'stockAdjustmentCreation.search' | message}}"/>
    </form>

    <section>
      <form class="form-inline" ng-submit="vm.addProduct()">
        <fieldset>
          <label for="product">{{'stockAdjustmentCreation.product' | message}}</label>
          <select id="product" ng-model="vm.selectedStockCardSummary"
                  ng-options="stockCardSummary.orderable.fullProductName for stockCardSummary in vm.stockCardSummaries"
                  required>
          </select>
        </fieldset>

        <fieldset>
          <label for="reason">{{'stockAdjustmentCreation.reason' | message}}</label>
          <select id="reason" ng-model="vm.selectedReason"
                  ng-options="reason.name for reason in vm.reasons" required>
          </select>
        </fieldset>

        <fieldset ng-show="vm.selectedReason.isFreeTextAllowed">
          <label for="reasonFreeText">{{'stockAdjustmentCreation.reasonComments' | message}}</label>
          <textarea id="reasonFreeText" rows="1" cols="15" ng-model="vm.reasonFreeText"></textarea>
        </fieldset>

        <fieldset>
          <label for="date" class="required">{{'stockAdjustmentCreation.date' | message}}</label>
          <openlmis-datepicker
            input-id="date" value="vm.selectedOccurredDate"
            max-date="vm.maxDate" required></openlmis-datepicker>
        </fieldset>

        <button type="submit">{{'stockAdjustmentCreation.add' | message}}</button>
      </form>
    </section>

    <table>
      <caption ng-if="!vm.displayItems.length">
        {{'stockAdjustmentCreation.noProducts' | message}}
      </caption>
      <thead>
      <tr>
        <th>{{'stockAdjustmentCreation.productCode' | message}}</th>
        <th>{{'stockAdjustmentCreation.product' | message}}</th>
        <th>{{'stockAdjustmentCreation.soh' | message}}</th>
        <th>{{'stockAdjustmentCreation.adjustmentReason' | message}}</th>
        <th>{{'stockAdjustmentCreation.adjustmentQuantity' | message}}</th>
        <th>{{'stockAdjustmentCreation.date' | message}}</th>
        <th>{{'stockAdjustmentCreation.actions' | message}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-class="{'align-top': lineItem.reason.isFreeTextAllowed}"
          ng-repeat="lineItem in vm.items track by $index">
        <td>{{lineItem.orderable.productCode}}</td>
        <td>{{lineItem.orderable.fullProductName}}
        </td>
        <td align="right">{{lineItem.stockOnHand}}</td>
        <td>
          <select ng-model="lineItem.reason"
                  ng-options="reason.name for reason in vm.reasons" required>
          </select>
          <div ng-show="lineItem.reason.isFreeTextAllowed">
            <br>
            <textarea rows="1" cols="15" ng-model="lineItem.reasonFreeText"> </textarea>
          </div>
        </td>
        <td popover="{{lineItem.quantityInvalid}}" class="soh-cell">
          <input class="form-control" ng-model="lineItem.quantity" ng-class="{'error': lineItem.quantityInvalid}"
                 ng-change="vm.validate(lineItem)" ng-blur="vm.validate(lineItem)"
                 positive-integer/>
        </td>
        <td class="date-cell">
          <openlmis-datepicker input-id="{{lineItem.occurredDate}}" value="lineItem.occurredDate"
                               max-date="vm.maxDate"></openlmis-datepicker>
        </td>
        <td>
          <button type="button" class="danger" ng-click="vm.remove(lineItem)">
            {{'stockAdjustmentCreation.remove' | message}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <openlmis-pagination list="vm.displayItems" paged-list="vm.items"></openlmis-pagination>
  </section>
</div>

<ng-include src="'stock-adjustment-creation/adjustment-creation-toolbar.html'"></ng-include>
