<article class="page stock-adjustment-creation" ng-cloak>
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)">{{'stockAdjustmentCreation.stockmanagement' | message}}</a></li>
    <li><a ui-sref="stockmanagement.adjustment">{{'stockAdjustmentCreation.adjustments' | message}}</a></li>
    <li class="active">{{'stockAdjustmentCreation.title' |
      message:{'facilityCode': vm.facility.code, 'facilityName': vm.facility.name, 'program': vm.program.name} }}
    </li>
  </ol>

  <h2>
    {{'stockAdjustmentCreation.title' |
    message:{'facilityCode': vm.facility.code, 'facilityName': vm.facility.name, 'program': vm.program.name} }}
  </h2>

  <section class="openlmis-table-container">
    <form ng-submit="vm.search()">
      <fieldset>
        <label for="search">{{'stockAdjustmentCreation.keyword' | message}}</label>
        <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
      </fieldset>

      <input type="submit" value="{{'stockAdjustmentCreation.search' | message}}"/>
    </form>

    <section>
      <form class="form-inline" ng-submit="vm.addProduct()">
        <fieldset>
          <label for="product">{{'stockAdjustmentCreation.product' | message}}</label>
          <select id="product" ng-model="vm.product"
                  ng-options="product.fullProductName for product in vm.approvedProducts" required>
          </select>
        </fieldset>

        <fieldset>
          <label for="reason">{{'stockAdjustmentCreation.reason' | message}}</label>
          <select id="reason" ng-model="vm.reason"
                  ng-options="reason.name for reason in vm.reasons" required>
          </select>
        </fieldset>

        <fieldset>
          <label for="date" class="required">{{'stockAdjustmentCreation.date' | message}}</label>
          <openlmis-datepicker
            input-id="date" value="vm.occurredDate"
            max-date="vm.maxDate" required></openlmis-datepicker>
        </fieldset>

        <button type="submit">{{'stockAdjustmentCreation.add' | message}}</button>
      </form>
    </section>

    <table>
      <caption ng-if="!vm.lineItems.length">
        {{'stockAdjustmentCreation.noProducts' | message}}
      </caption>
      <thead>
      <tr>
        <th>{{'stockAdjustmentCreation.productCode' | message}}</th>
        <th>{{'stockAdjustmentCreation.product' | message}}</th>
        <th>{{'stockAdjustmentCreation.soh' | message}}</th>
        <th>{{'stockAdjustmentCreation.adjustmentReason' | message}}</th>
        <th>{{'stockAdjustmentCreation.adjustmentQuantity' | message}}</th>
        <th>{{'stockAdjustmentCreation.date' | message}}</th>
        <th>{{'stockAdjustmentCreation.actions' | message}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="lineItem in vm.lineItems track by $index">
        <td>{{lineItem.productCode}}</td>
        <td>{{lineItem.fullProductName}}
        </td>
        <td align="right">{{lineItem.stockOnHand}}</td>
        <td>
          <select ng-model="lineItem.reason"
                  ng-options="reason.name for reason in vm.reasons" required>
          </select>
        </td>
        <td align="right">
          <input ng-model="lineItem.quantity" positive-integer/>
        </td>
        <td>
          <openlmis-datepicker input-id="{{lineItem.occurredDate}}" value="lineItem.occurredDate"
                               max-date="vm.maxDate"></openlmis-datepicker>
        </td>
        <td>
          <button type="button" class="danger" ng-click="">{{'stockAdjustmentCreation.remove' | message}}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</article>

<ng-include src="'stock-adjustment-creation/adjustment-creation-toolbar.html'"></ng-include>
