.stock-adjustment-creation {
  .openlmis-table-container {
    .row > .main {
      .toolbar {
        padding-top: 0;

        section {
          width: 100%;
          margin-left: 0;

          form {
            max-width: 100%;
            position: relative;

            fieldset {
              align-self: flex-start;

              input#date {
                width: 110px;
              }
            }

            button {
              position: absolute;
              top: 2em;
              right: 0.5em;
            }
          }
        }
      }

      textarea {
        resize: vertical;
      }

      .openlmis-flex-table {
        .date-cell {
          min-width: 125px;
        }

        .error {
          input, select {
            border-color: $red !important;

            &:focus {
              box-shadow: inset 0 0 0.5em $red;
            }
          }
        }
      }
    }
  }
}