$very-light-gray: #f0f0f0 !default;

.confirmation-dialog-overlay {
  @media (max-width: $res-sm) {
    align-items: end;
  }

  $confirmation-dialog-shadow-alpha:  rgba(0, 0, 0, 0.1);

  .confirmation-dialog {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    box-shadow: 0 0 0.5em $confirmation-dialog-shadow-alpha;
    border-radius: 3px;
    padding: 2em;

    @media (max-width: $res-sm) {
      width: 100vw;
      box-shadow: 0 -0.5em 0.5em -0.5em $confirmation-dialog-shadow-alpha;
      border-radius: 0;
    }

    .confirmation-dialog-title {
      text-align: center;
      font-size: 1.4em;
    }

    .confirmation-dialog-buttons {
      padding: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.physical-inventory-mobile {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  .page-mobile {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 0 0.5em $shadow;
    border: 0;
    background: $white;

    .page-container {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
    }

    .page-header-mobile {
      padding: 1em;
    }

    .page-content {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      padding: 1em;
      row-gap: 1em;
    }
  }

  .wizard-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    .wizard-header {
      flex: 0;
      display: flex;
      flex-direction: column;
      padding: 1em;
    }

    .wizard-body {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      padding: 1em;
    }

    .wizard-footer {
      flex: 0;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background-color: $very-light-gray;
    }
  }
}
