<button class="reasons add"
    ng-if="!reasonsCellCtrl.adjustments.length"
    ng-click="reasonsCellCtrl.openModal()"
    ng-disabled="!lineItem.quantity">
    {{'stockReasons.addReasons' | message}}
</button>
<button class="reasons edit"
    ng-if="reasonsCellCtrl.adjustments.length === 1"
    ng-click="reasonsCellCtrl.openModal()"
    ng-disabled="!lineItem.quantity"
    popover
    popover-title="{{'stockReasons.adjustments' | message}}"
    popover-template="stock-reasons/reasons-popover.html">
    {{reasonsCellCtrl.adjustments[0].reason.name}}
</button>
<button class="reasons edit"
    ng-if="reasonsCellCtrl.adjustments.length > 1"
    ng-click="reasonsCellCtrl.openModal()"
    ng-disabled="!lineItem.quantity"
    popover
    popover-title="{{'stockReasons.adjustments' | message}}"
    popover popover-template="stock-reasons/reasons-popover.html">
    {{reasonsCellCtrl.adjustments.length}} {{'stockReasons.reasons' | message}}
</button>
