.stock-reasons-popover {
    width: auto;
    max-width: none;
    dl {
        display: flex;
        flex-wrap: wrap;
    }
    dl > dt {
        white-space: normal;
        flex: 1 0 auto;
    }
    dl > dd {
        flex: 0 0 auto;
        white-space: nowrap;
        text-align: right;
    }
}

td stock-reasons > button {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;

    &.add::before, &.edit::before {
        text-align: left;
    }

    &.edit {
        @include button-icon('pencil-square-o');
    }
}

.is-invalid stock-reasons button {
    font-family: $font-family;
    &::after {
        color: $brand-danger;
        content: "\f06a";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: 0.5em;
        flex-grow: 1;
        text-align: right;
    }
}

.reasons {
    display: flex !important;
    justify-content: space-between;

    & > span:first-child {
        flex-grow: 2
    }
}
