<button class="reasons add"
    ng-if="!stockReasonsCtrl.adjustments.length"
    ng-click="stockReasonsCtrl.openModal()"
    ng-disabled="!lineItem.quantity && lineItem.quantity !== 0">
    {{'stockReasons.addReasons' | message}}
</button>
<button class="reasons edit"
    ng-if="stockReasonsCtrl.adjustments.length === 1"
    ng-click="stockReasonsCtrl.openModal()"
    ng-disabled="!lineItem.quantity"
    popover
    popover-title="{{'stockReasons.adjustments' | message}}"
    popover-template="stock-reasons/stock-reasons-popover.html">
    {{stockReasonsCtrl.adjustments[0].reason.name}}
</button>
<button class="reasons edit"
    ng-if="stockReasonsCtrl.adjustments.length > 1"
    ng-click="stockReasonsCtrl.openModal()"
    ng-disabled="!lineItem.quantity"
    popover
    popover-title="{{'stockReasons.adjustments' | message}}"
    popover popover-template="stock-reasons/stock-reasons-popover.html">
    {{stockReasonsCtrl.adjustments.length}} {{'stockReasons.reasons' | message}}
</button>
