<button ng-click="stockReasonsCtrl.openModal()"
    ng-disabled="!lineItem.quantity && lineItem.quantity !== 0"
    class="reasons"
    ng-class="{edit: stockReasonsCtrl.adjustments.length > 0, add: !stockReasonsCtrl.adjustments.length}"
    />
    <span ng-if="stockReasonsCtrl.adjustments.length < 1">
        {{'stockReasons.addReasons' | message}}
    </span>
    <span ng-if="stockReasonsCtrl.adjustments.length === 1">
        {{stockReasonsCtrl.adjustments[0].reason.name}}
    </span>
    <span ng-if="stockReasonsCtrl.adjustments.length > 1">
        {{stockReasonsCtrl.adjustments.length}} {{'stockReasons.reasons' | message}}
    </span>
</button>