<div class="modal add-products-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{'stockAddProductsModal.title' | message}}
        </h4>
      </div>

      <div class="modal-body">
       <form name="productForm" ng-submit="vm.addOneProduct()">
         <div>
            <label for="productSelect">{{'stockAddProductsModal.product' | message}}</label>
            <select id="productSelect" ng-model="vm.selectedOrderableGroup"
                    ng-options="orderableGroup[0].orderable.fullProductName for orderableGroup in vm.orderableGroups"
                    ng-change="vm.orderableSelectionChanged()"
                    required>
            </select>
          </div>
          <div ng-if="vm.selectedOrderableHasLots">
            <label for="lotSelect">{{'stockAddProductsModal.lotCode' | message}}</label>
            <select id="lotSelect" ng-model="vm.selectedLot"
                    ng-options="lot.lotCode for lot in vm.lots"
                    ng-change="vm.lotChanged()"
                    required>
            </select>
          </div>
          <div ng-if="vm.hasPermissionToAddNewLot && vm.canAddNewLot">
            <label for="lotCode">{{'stockAddProductsModal.newLotCode' | message}}</label>
            <input id="lotCode" type="text" ng-model="vm.newLot.lotCode"
            ng-change="vm.newLotCodeChanged()"
            openlmis-invalid="{{vm.newLot.lotCodeInvalid | message}}"
            required>
          </div>
          <div ng-if="vm.hasPermissionToAddNewLot && vm.canAddNewLot">
            <label for="expirationDate">{{'stockAddProductsModal.newLotExpirationDate' | message}}</label>
            <input id="expirationDate" type="date" ng-model="vm.newLot.expirationDate"
            ng-change="vm.expirationDateChanged()" 
            openlmis-invalid="{{vm.newLot.expirationDateInvalid | message}}"/>
          </div>
          <button type="submit" class="add">{{'stockAddProductsModal.add' | message}}</button>
        </form>
        <section class="openlmis-table-container">
          <table>
            <thead>
            <tr>
              <th>{{'stockAddProductsModal.productCode' | message}}</th>
              <th>{{'stockAddProductsModal.product' | message}}</th>
              <th>{{'stockAddProductsModal.lotCode' | message}}</th>
              <th>{{'stockAddProductsModal.expiryDate' | message}}</th>
              <th>{{'stockAddProductsModal.currentStock' | message}}</th>
              <th>{{'stockAddProductsModal.actions' | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.addedItems">
              <td>{{item.orderable.productCode}}</td>
              <td>{{item.orderable.fullProductName}}</td>
              <td>{{item.displayLotMessage}}</td>
              <td>{{vm.formatDate(item.lot.expirationDate) | message}}</td>
              <td openlmis-invalid="{{item.quantityInvalid}}" class="digit-cell">
                <input positive-integer
                       ng-class="{'error': item.quantityInvalid}"
                       class="form-control"
                       ng-model="item.quantity"
                       ng-change="vm.validate(item)" />
              </td>
              <td>
                <input type="button" class="danger" ng-click="vm.removeAddedProduct(item)"
                       value="{{'stockAddProductsModal.remove' | message}}"/>
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      </div>

      <div class="modal-footer">
        <button ng-click="$hide()">{{'stockAddProductsModal.cancel' | message}}</button>
        <button ng-click="vm.confirm()" class="primary">
          {{'stockAddProductsModal.addProducts' | message: {'num': vm.addedItems.length} }}
        </button>
      </div>

    </div>
  </div>
</div>