<div class="modal add-products-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{'stockAddProductsModal.title' | message}}
        </h4>
      </div>

      <div class="modal-body">
        <form class="form-inline" ng-submit="vm.addOneProduct()">
          <fieldset>
            <label for="productSelect">{{'stockAddProductsModal.product' | message}}</label>
            <select id="productSelect" ng-model="vm.selectedOrderable" ng-change="vm.resetLots()"
                    ng-options="orderable.fullProductName for orderable in vm.orderables" required>
            </select>
          </fieldset>

          <fieldset ng-if="vm.hasLot">
            <label for="lotSelect">{{'stockAddProductsModal.lotCode' | message}}</label>
            <select id="lotSelect" ng-model="vm.selectedLot"
                    ng-options="lot.lotCode for lot in vm.lots">
            </select>
          </fieldset>

          <button type="submit">{{'stockAddProductsModal.add' | message}}</button>
        </form>

        <section class="openlmis-table-container">
          <table>
            <thead>
            <tr>
              <th>{{'stockAddProductsModal.productCode' | message}}</th>
              <th>{{'stockAddProductsModal.product' | message}}</th>
              <th ng-if="vm.hasLot">{{'stockAddProductsModal.lotCode' | message}}</th>
              <th ng-if="vm.hasLot">{{'stockAddProductsModal.expiryDate' | message}}</th>
              <th>{{'stockAddProductsModal.currentStock' | message}}</th>
              <th>{{'stockAddProductsModal.actions' | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.addedItems">
              <td>{{item.orderable.productCode}}</td>
              <td>{{item.orderable.fullProductName}}</td>
              <td ng-if="vm.hasLot">
                {{item.lot?item.lot.lotCode:('stockAddProductsModal.noLotDefined' | message)}}
              </td>
              <td ng-if="vm.hasLot">{{item.lot.expirationDate}}</td>
              <td popover="{{item.quantityMissingError}}" class="soh-cell">
                <input positive-integer ng-class="{'error': item.quantityMissingError}"
                       ng-model="item.quantity" ng-change="vm.validate(item)"
                       ng-blur="vm.validate(item)"/>
              </td>
              <td>
                <input type="button" class="danger" ng-click="vm.removeAddedProduct(item)"
                       value="{{'stockAddProductsModal.remove' | message}}"/>
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      </div>

      <div class="modal-footer">
        <button ng-click="$hide()">{{'stockAddProductsModal.cancel' | message}}</button>
        <button ng-click="vm.confirm()" class="primary">
          {{'stockAddProductsModal.addProducts' | message: {'num': vm.addedItems.length} }}
        </button>
      </div>

    </div>
  </div>
</div>
