.datepicker {
  z-index: 1151 !important;
  //  show date picker above modal
}

#dateForm {
  span.info {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    color: $dark-gray;
  }
}
