#facility-type-header {
    margin-bottom: 4px;
    font-family: Arial;
    font-size: 16px
}

.facility-program-select {
    margin-top: 8px;
    margin-bottom: 8px;

    .field-with-bottom-margin {
        margin-bottom: 8px;
    }
}


.with-back-button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.no-products-found {
    background-color: #e2f8ff;
    width:100%;
    display:flex;
    align-items: center;
    height: 70px;
    padding:10px;
    font-size: 16px;
}

table {
    width: 100%;
    font-size: 18px;

    th {
        color: white;
        padding: 10px;
        font-weight: normal;
        background-color: #77cbf0;

            &:first-child {
                width: 90px;
            }

            &:nth-child(3) {
                width: 120px;
            }

            &:first-child,
            &:nth-child(2) {
                border-right: 1pt solid white;
            }
    }

    tbody {
        background-color: #e2f8ff;

        td {
            height: 70px;
            padding:10px;
        }

        .cell-not-expanded {
            border-bottom: 1pt solid white;

            &:first-child {
                text-align: left;
            }

            .stock-on-hand-value {
                font-size: 16px;
                display:flex;
                gap: 10px;
                align-items: center;
                justify-content: flex-end;
            }
        }

        .row-expanded {
            border-top:1pt solid #a4a4a4;
            background-color: white;

            .cell-expanded {
                display:flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 10px;
                font-size: 16px;

                &:last-child {
                    align-items: flex-end;
                }
            }
        }
    }
}

.hidden {
    display: none;
}


.product-main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    #program-select-header {
        width: 100%;
        margin-left: 10px
    }

    .product-nav {
        display: flex;
        flex-basis: 50%;
        flex-grow: 0;
        text-transform: uppercase;

        .nav-button {
            display: flex;
            align-self: center;
            padding: 20px 0 10px 0;
            width: 50%;
            justify-content: center;
        }

        .nav-button:hover {
            cursor: pointer;
        }

        .active {
            color: #3A95BC;
            border-bottom: #3A95BC 2px solid;
        }

    }

    .product-info {
        background-color: #F1F1F1;
        height: 100%;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;

        .product-title {
            margin: 0 auto;
            padding: 20px 0 10px 0;
            color: #3A95BC;
            font-size: 18px;
        }

        .product-info-row {
            display: flex;

            .left-column {
                display: flex;
                justify-content: flex-end;
                padding: 12px 10px 12px 20px;
                width: 50%;
                color: #707070;
            }

            .right-column {
                display: flex;
                justify-content: flex-start;
                width: 50%;
                padding: 12px 20px 12px 10px;
            }

            .gray-text {
                color: #A4A4A4;
            }
        }
    }
}
