<div class="page" ng-cloak>

  <ol class="breadcrumb">
    <li><a href="javascript:void(0)">{{'label.stockmanagement.title' | message}}</a></li>
    <li class="active">{{'label.stockmanagement.physicalInventory' | message}}</li>
  </ol>

  <h2>{{'label.stockmanagement.physicalInventory' | message}}</h2>

  <section class="openlmis-table-container">
    <table>
      <caption ng-if="!vm.drafts.length">{{'msg.stockmanagement.no.physicalInventory.available' | message}}
      </caption>
      <thead>
      <tr>
        <th>{{'label.program' | message}}</th>
        <th>{{'label.status' | message}}</th>
        <th class="col-sticky">{{'label.actions' | message}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="draft in vm.drafts">
        <td>{{vm.getProgramName(draft.programId)}}</td>
        <td>{{vm.getDraftStatus(draft.isStarter)}}</td>
        <td>
          <input id="proceedButton" type="button" ng-click="vm.editDraft(draft)"
                 value="{{(draft.isStarter ? 'button.stockmanagement.start' : 'button.stockmanagement.continue') | message}}"
                 class="primary"/>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
