<h2>{{'adminReasonList.reasons' | message}}</h2>
<section class="openlmis-table-container">
  <button class="add" ui-sref=".add">
    {{'adminReasonList.addReason' | message}}
  </button>
  <table>
    <caption ng-if="!vm.reasons || vm.reasons.length === 0">
      {{'adminReasonList.noMatchesForReason' | message}}
    </caption>
    <thead>
    <tr>
      <th>{{'adminReasonList.name' | message}}</th>
      <th>{{'adminReasonList.category' | message}}</th>
      <th>{{'adminReasonList.type' | message}}</th>
      <th>{{'adminReasonList.allowFreeText' | message}}</th>
      <th>{{'adminReasonList.actions' | message}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="reason in vm.reasons">
      <td>{{reason.name}}</td>
      <td>{{reason.reasonCategory}}</td>
      <td>{{reason.reasonType}}</td>
      <td>
        <i ng-class="{'icon-ok':reason.isFreeTextAllowed}"/>
      </td>
      <td>
        <button ui-sref=".edit({id: reason.id})">
          {{'adminReasonList.edit'| message}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
